:root {
    --primary: #B9FF66;
    --dark: #191A23;
    --light: #F3F3F3;
    --white: #fff;

    --first-level-heading: 60px;
    --second-level-heading: 40px;
    --third-level-heading: 30px;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    width: 90%;
}
section {
    margin-bottom: 140px;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    & .logo {
    }
    & nav {

        & ul {
            display: flex;
            gap: 40px;
            & li {
                &:last-of-type {
                    & a {
                        padding: 20px 35px;
                        border: 1px solid var(--dark);
                        border-radius: 14px;
                    }
                }
                & a {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
    }
}